@import '../../../styles/css/colors.css';

.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease, transform 0.15s ease;
  font-family: "Inter", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Tamanhos */
.btn-sm {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
}

.btn-md {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

.btn-lg {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
}

/* Variantes usando suas variáveis de cor */
.btn-primary {
  background: var(--primary-color);
  color: var(--neutral-color-0);
  border-radius: 8px;
}

.btn-primary:hover:not(:disabled) {
  background: var(--secondary-color);
}

.btn-secondary {
  background: var(--quaternary-color);
  color: var(--neutral-color-1);
  border-radius: 8px;
}

.btn-secondary:hover:not(:disabled) {
  transition: ease-in-out 0.2s;
  background: var(--secondary-color);
  color: var(--neutral-color-0);
  border-radius: 8px;
}

.btn-outline {
  height: 38px;
  margin: 9px;
  background: transparent;
  color: var(--button-color);
  text-decoration: underline;
  border-radius: 8px;
}

.btn-outline:hover:not(:disabled) {
  color: var(--neutral-color-1);
}

.btn-ghost {
  background: transparent;
  color: #374151;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.btn-ghost:hover:not(:disabled) {
  background: #f3f4f6;
}

.btn-danger {
  background: #dc2626;
  color: var(--neutral-color-0);
  border-radius: 8px;
}

.btn-danger:hover:not(:disabled) {
  background: #b91c1c;
}

/* Efeito ao clicar */
.btn:active:not(:disabled) {
  transform: scale(0.97);
}

/* Estado disabled */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
